server {
    set $basedir "/home/shashank/webapps/firewall";

    listen       80;
    server_name  127.0.0.2;
    server_tokens off;
    client_max_body_size 10M; 

    location / {
        try_files   $uri   /index.html;
    }

    location /favicon.ico {
        root $basedir;
    }

   location ~ \.(js|css|png|txt|html|woff|ttf|eot|svg|ico)$ {
        root       $basedir;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }
}
